<header class="header">
    <div class="header-group">
        <img src="/images/rsa-logo.png" alt="RSA UAE Logo" class="logo-header" />

        <div class="header-links">
            <!-- 
                <img class="header-icon search-icon" src="/icons/search.png" alt="search">
             -->

            <!-- Language toggle flags -->
            <div class="language-switcher nav-small">
                <a href="/set-language/en" class="lang-btn"><img src="/icons/uk.png" alt="English" width="24" /></a>
                <a href="/set-language/ar" class="lang-btn"><img src="/icons/uae.png" alt="Arabic" width="24" /></a>
            </div>

            <div id="menuToggle" class="menu-toggle">
                <img id="menuIcon" src="/icons/burger-menu.png" alt="menu button">
            </div>
        </div>
    </div>
</header>

<% if (user) { %>
    <!-- Overlay nav -->
    <nav id="mobileNavOverlay" class="nav-overlay">
        <div class="nav-links">
            <a href="/dashboard" class="nav-link <%= currentRoute === '/dashboard' ? 'active' : '' %>">
                <%= __('nav.dashboard') %>
            </a>
            <a href="/courses/list" class="nav-link <%= currentRoute === '/courses/list' ? 'active' : '' %>">
                <%= __('nav.courses') %>
            </a>
            <a href="/auth/logout">
                <%= __('nav.logout') %>
            </a>
        </div>
    </nav>

    <% } %>