<main class="with-sidebar result-wrapper">

    <div class="quiz-result-card">
        <div class="quiz-result-header <%= score === total ? 'passed' : 'failed' %>">
            <%= translations.quizResult[score===total ? 'passed' : 'failed' ] %>
        </div>

        <div class="quiz-result-body">
            <% if (score < total) { %>
                <p class="result-message">
                    <%= translations.quizResult.scoreFeedback .replace('{score}', score) .replace('{total}', total) %>
                </p>

                <div class="result-actions">
                    <form method="GET"
                        action="/courses/<%= course._id %>/modules/<%= module.id %>/lessons/<%= lesson.id %>/quiz">
                        <input type="hidden" name="q" value="0">
                        <button type="submit" class="quiz-retake-btn">
                            <%= translations.quizResult.retakeButton.replace('{module}', module.id) %>
                        </button>
                    </form>
                </div>

                <% } else { %>
                    <p class="result-message success">
                        <%= translations.quizResult.passedMessage %>
                    </p>
                    <% } %>
        </div>
    </div>

</main>