<main class="certificate-success">
    <h2 class="section-title">
        <%= course.title %>
    </h2>

    <p><strong>Hello <%= user.fullName %>,</strong></p>

    <p>
        We congratulate you on completing the course and wish you great success in applying your new knowledge.
    </p>

    <p>
        If you’ve completed all the lessons in the course, you can obtain your certificate by downloading it using the
        buttons below.
    </p>

    <% if (hasCompletedCourse) { %>
        <div class="certificate-buttons">
            <a href="/certificate/download/<%= course._id %>" class="btn cert-btn">
                <i class="fa fa-file-pdf-o"></i>
                <span>
                    <%= course.title %>
                </span>
            </a>
            <a href="/certificate/download/<%= course._id %>" class="btn icon-btn">
                <i class="fa fa-download"></i>
            </a>
        </div>
        <% } else { %>
            <p class="warning">You must complete all lessons to unlock the certificate.</p>
            <% } %>
</main>