<main class="with-sidebar quiz-success-success-page">
    <section class="quiz-success-success-card">
        <div class="quiz-success-header">
            <h1 class="quiz-success-course-title">
                <%= course.title?.[lang] || course.title?.en || '' %>
            </h1>
        </div>

        <div class="quiz-success-message">
            <p class="quiz-success-name"><strong>
                    <%= translations.success.hello %>
                        <%= user.fullName %>!
                </strong></p>
            <p class="quiz-success-info">
                <%= translations.success.congrats %>
            </p>
            <p class="quiz-success-info">
                <%= translations.success.certificateInfo %>
            </p>
        </div>

        <% if (hasCompletedCourse) { %>
            <div class="quiz-success-actions">
                <a href="/certificate/<%= course._id %>/download" class="quiz-success-btn">
                    <img src="/icons/certified.png" alt="">
                    <span>
                        <%= course.title?.[lang] || course.title?.en || '' %>
                    </span>
                </a>
            </div>
            <% } else { %>
                <p class="quiz-success-warning">
                    <%= translations.success.warning %>
                </p>
                <% } %>
    </section>
</main>