<main class="with-sidebar">

    <div class="course-market-grid">
        <% courses.forEach(course=> {
            const isEnrolled = enrolledIds.includes(course._id.toString());
            %>
            <div class="course-market-card">
                <div class="course-market-card-btn">
                    <span class="course-market-badge"><img src="/icons/layer.png" alt="">
                        <%= __('courseMarket.courseBadge') %>
                    </span>
                </div>

                <h2 class="course-market-card-title">
                    <%= course.title[lang] %>
                </h2>

                <h4 class="course-market-card-subtitle">
                    <%= course.subtitle[lang] %>
                </h4>

                <p class="course-market-subtitle">
                    <img class="course-market-info-icon" src="/icons/info.png" alt="">
                    <%- course.summary[lang] %>
                </p>

                <div class="course-card-footer">
                    <% if (course.locked) { %>
                        <button class="enroll-btn locked" disabled title="This course is locked for demo">
                            <div class="lock-icon-container">
                                <img src="/icons/lock.png" alt="Locked" class="lock-icon" />
                                <!-- <%= __('courseMarket.locked') || 'Locked' %> -->
                            </div>
                        </button>
                        <% } else if (isEnrolled) { %>
                            <button class="enroll-btn enrolled" disabled>
                                <%= __('courseMarket.enrolled') %>
                            </button>
                            <% } else { %>
                                <form method="POST" action="/courses/<%= course._id %>/enroll">
                                    <button type="submit" class="enroll-btn">
                                        <%= __('courseMarket.enroll') %>
                                    </button>
                                </form>
                                <% } %>

                </div>
            </div>
            <% }) %>
    </div>
</main>