<main class="with-sidebar dashboard-main">

    <% if (userCourses.length> 0) { %>
        <section class="course-grid">
            <% userCourses.forEach(course=> { %>
                <div class="course-card">
                    <div class="course-card-btn">
                        <span class="course-badge"><img src="/icons/layer.png" alt=""> Course</span>

                        <a href="/courses/<%= course._id %>" class="arrow-btn">
                            <img src="/icons/arrow-right.png" alt="View Course">
                        </a>
                    </div>

                    <h2>
                        <%= course.title %>
                    </h2>

                    <h4>
                        <%= course.subtitle %>
                    </h4>

                    <p class="course-subtitle">
                        <img class="card-info-icon" src="/icons/info.png" alt="">
                        <%= course.summary %>
                    </p>

                    <div class="course-progress">
                        <div class="progress-bar">
                            <div class="progress-fill" data-progress="<%= course.progressPercent %>"></div>
                        </div>

                        <span class="progress-text">
                            Completed: <%= course.completedLessons %> / <%= course.totalLessons %>
                        </span>
                    </div>

                </div>
                <% }) %>
        </section>
        <% } else { %>
            <p>No courses enrolled yet.</p>
            <% } %>
</main>