<main class="with-sidebar dashboard-main">

    <% if (userCourses.length> 0) { %>
        <section class="course-grid">
            <% userCourses.forEach(course=> { %>
                <div class="course-card">
                    <div class="course-card-icons">
                        <span class="course-badge">
                            <img src="/icons/layer.png" alt=""> Course
                        </span>

                        <div class="course-card-btns">
                            <% if (course.hasCertificate) { %>
                                <a href="/certificate/<%= course._id %>/download" class="download-btn"
                                    title="Download Certificate">
                                    <img src="/icons/download.png" alt="Download Certificate" />
                                </a>
                                <% } %>

                                    <a href="/courses/<%= course._id %>" class="arrow-btn">
                                        <img src="/icons/right-arrow.png" alt="View Course">
                                    </a>
                        </div>
                    </div>


                    <h2>
                        <%= course.title %>
                    </h2>

                    <h4>
                        <%= course.subtitle %>
                    </h4>

                    <p class="course-subtitle">
                        <img class="card-info-icon" src="/icons/info.png" alt="">
                        <%= course.summary %>
                    </p>

                    <div class="course-progress">
                        <div class="progress-bar">
                            <div class="progress-fill" data-progress="<%= course.progressPercent %>"></div>
                        </div>

                        <span class="progress-text">
                            Completed: <%= course.completedLessons %> / <%= course.totalLessons %>
                        </span>
                    </div>

                    <a href="/courses/<%= course._id %>" class="course-card-link" aria-label="View course"></a>

                </div>
                <% }) %>
        </section>
        <% } else { %>
            <p>No courses enrolled yet.</p>
            <% } %>
</main>